@import url("https://fonts.googleapis.com/css2?family=inter:wght@300;600&display=swap");


* {
    box-sizing: border-box;
}

body{
    border-radius: 10px;
    padding: 0;
    margin: 0;
    font-family: "inter", sans-serif;
    background: linear-gradient(45deg, black, #333);
    padding: 40px;
}

.container{
    min-height: calc(100vh - 40px * 2);
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 10px;
    overflow: hidden;
}

.login-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
    background-color: white;


}

.login-right{
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;



    img{
        width: 80%;
    }
  
}

.login-header{
    margin-bottom: 50px;
    h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }

    p {
        opacity: .7;
    }
}

.login-form{
    width: 450px;
    &-content {
        display: flex;
        flex-direction: column;
        gap :35px;
    }

    &-footer {
        display: flex;
        gap: 30px;
        margin-top: 70px;

         a {
            flex: 6;
            gap: 15px;
            border: 1px solid black;
            border-radius: 100px;
            padding: .6rem;
            justify-content: center;
            display: flex;
            align-items: center;
            color: rgb(218, 33, 218);
            text-decoration: none;

            &:hover {
                background-color: #eee;
            }

         }


    }
}

.form-item label:not(.checkboxLabel) {
    display: inline-block;
    background-color: white;
    margin-bottom: -20px;
    position: absolute;
    padding: 0 10px;
    transform: translate(30px, -10px);
    font-size: 14px;

}

input[type='text'],
input[type='password'] {
    border: 1px solid black;
    height: 55px;
    padding: 0 2rem;
    width: 100%;
    outline: none;
    transition: background .5s;
    font-size: 18px;
    border-radius: 100px;
}


.checkbox {
    display: flex;
    align-items: center;
    gap: 7px;
}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
    accent-color:#40CE94;
}

// button {
//     border: nome;
//     background-color: #40CE94;
//     // background-color: linear-gradient(45deg, #40CE94, #fff);
//     color: white;
//     padding: 1rem;
//     border-radius: 100px;
//     text-align: center;
//     text-transform: uppercase;
//     font-size: 18px;
//     height: 55px;
//     cursor: pointer;
// }

a {
    border: nome;
    background-color: rgb(67, 69, 70);
    color: #0e067c;
    padding: 1rem;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    height: 55px;
    cursor: pointer;
}


.quadrado {
    border-radius: 50%;
    padding-top: 30px;
    justify-content: space-around;
    background: #0e1110;
    width: 150px;
    height: 150px;
    // animation: go-back 4s infinite alternate;

    &.primeiro {
        background-color: blue;
        animation: go-back 4s infinite alternate;
    }

    &.segundo {
        background-color: red;    
        animation: go-back 4.2s infinite alternate;
    }

    &.terceiro {
        background-color: black;
        animation: go-back 4.3s infinite alternate;

    }

    &.quarto {
        background-color: rgb(219, 16, 101);
        animation: go-back 4.4s infinite alternate;

    }

    &.quinto {
        background-color: rgb(15, 185, 197);
        animation: go-back 4.5s infinite alternate;

    }

    &.sexto {
        background-color: rgb(216, 155, 23);
        animation: go-back 4.6s infinite alternate;

    }
  }
  
  @keyframes go-back {
    from {
      transform: translateX(780px);
    }
    to {
      transform: translateX(0px);
    }
  }


  .nome {
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding-top: 30px;
  }
























/* responsive */

@media (max-width: 1350px) {
    .login-left {
        padding: 50px !important;
    }

    .login-form {
        width: 100px !important;

        &-footer {
            flex-direction: column !important;
            gap: 15px;
        }
    }
}

@media (max-width: 768px) {
    body {
        padding: 20px !important;
    }

    .container {
        grid-template-columns: auto !important;
    }

    .login-right {
        display: none !important;
    }
}
